# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Virtual environment
venv/

# Django
*.sqlite3
db.sqlite3

# Environment variables (keep secrets safe)
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db